/Exercicio01/nbproject/private/
/Exercicio01/build/
/JavaApplication367exercicio02/nbproject/private/
/JavaApplication367exercicio02/build/
/JavaApplication368exercicio03/nbproject/private/
/JavaApplication368exercicio03/build/
/JavaApplication369exercicio04/nbproject/private/
/JavaApplication370Exercicio05/nbproject/private/
/JavaApplication371exercicio06/nbproject/private/
/JavaApplication371exercicio06/build/
/JavaApplication372exercicio07/nbproject/private/
/JavaApplication372exercicio07/build/