/Exercicio01/nbproject/private/
/Exercicio01/build/
/JavaApplication367exercicio02/nbproject/private/
/JavaApplication367exercicio02/build/
/JavaApplication368exercicio03/nbproject/private/
/JavaApplication368exercicio03/build/